<!DOCTYPE html>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>

<p>Dear <%=recipientName%>,</p>

<p>Payment for the following bookings will be deemed "late" within 48 hours. Please check that payment details are up to date before making contact:</p>


	<br>Event: <b><%=event.name%></b>
	<br>On: <%=eventDate%> at <%=event.time%>
	<br>At: <%-event.venue%> 
	<br>
	<% if (bookings.length>0) {%>
		<br><b>Late payment reminders due:</b><br>	
		<% bookings.forEach(function (booking,index) { %>
			&nbsp;&nbsp;Ref: <%=booking.ref%>: <%=booking.user.salutation%> <%=booking.user.name%><br>        			
		<% }) %>
    <% } %>


<% if (reminderTestMode) { %>
    <p>NOTE: The system is currently configured *not* to send automatic reminders to the bookee.</p>
<% } %> 
<% if (!reminderTestMode) { %>
    <p>NOTE: The system is currently configured to automatically send reminders to the bookee. It is therefore essential that you keep the system up to date to avoid embarrassment.</p>
<% } %> 

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>