<!DOCTYPE html>

<p>Dear <%=recipientName%>,</p>

<p>The following bookings will be receiving late payment reminders within 48 hours. Please check that payment details are up to date to avoid embarrassment:</p>

	<br>Event: <b><%=event.name%></b>
	<br>On: <%=eventDate%> at <%=event.time%>
	<br>At: <%-event.venue%> 
	<br>
	<% if (bookings.length>0) {%>
		<br><b>Late payment reminders due:</b></br>	
		<% bookings.forEach(function (booking,index) { %>
			&nbsp;&nbsp;Ref: <%=booking.ref%>: <%=booking.user.salutation%> <%=booking.user.name%><br>        			
		<% }) %>
    <% } %>


<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>