<!DOCTYPE html>       

<!-- S A L U T A T I O N -->
<div class="control-group form-group col-xs-10"
ng-class="{'has-error':<%-form%>.salutation.$invalid &&
                      <%-form%>.salutation.$dirty}">
  <label>* Salutation</label>  
  <select class="form-control" placeholder="e.g. Bro. or W.Bro etc" name="salutation" ng-options="salutation for salutation in salutations" ng-model="<%-form%>Form.salutation" required>
    <option value="">-- choose salutation --</option>
  </select>
  <span class="help-block has-error" ng-if="<%-form%>.salutation.$dirty">
    <span ng-show="<%-form%>.salutation.$error.required">Salutation is required.</span> 
  </span>
</div>     
         
<!-- N A M E -->

<!-- checking whether the form "<%-form%>" with the "name" property is both $invalid AND $dirty.  If it is
insert the "has-error" class on the input field (i.e. insert a red border around the input field)
-->
<div class="control-group form-group col-xs-10"
ng-class="{'has-error':<%-form%>.name.$invalid &&
                      <%-form%>.name.$dirty}">
  <label>* Full name (for <span class="hidden-xs">seating</span> reservation card)</label>  
  <!-- For this input field make it required, and have a max length of 50 -->
  <input type="text" populate-names="['surname:last','firstname:0']" class="form-control" placeholder="e.g. Fred Bloggs" name="name" ng-model="<%-form%>Form.name" ng-maxlength="50" required>  
  <!-- Also, if <%-form%>.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
  and/or maxlength) -->
  <span class="help-block has-error" ng-if="<%-form%>.name.$dirty">
    <span ng-show="<%-form%>.name.$error.required">Name is required.</span>
    <span ng-show="<%-form%>.name.$error.maxlength">The name cannot be more than 50 characters.</span>
  </span>
</div>

<!-- U S E R  N A M E (alternative for logging in) -->

<!-- checking whether the form field is both $invalid AND $dirty.  If it is
insert the "has-error" class on the input field (i.e. insert a red border around the input field)
-->
<div class="control-group form-group col-xs-10"
ng-class="{'has-error':(invalidUsername || <%-form%>.username.$invalid) &&
                      <%-form%>.username.$dirty}" ng-hide="(<%-form%>Form.authProvider!='local' && '<%-form%>'!='signup')">
  <label>* User name (for logging in)</label>
    <!-- For this input field make it required, and have a max length of 25 -->
  <input type="text" class="form-control" placeholder="e.g. fbloggs" name="username" ng-model="<%-form%>Form.username" ng-maxlength="50" 
        ng-change="checkUsername()" ng-required="<%-form%>Form.authProvider=='local'">
    <!-- Also, if <%-form%>.username.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
  and/or maxlength) -->
  <span class="help-block has-error" ng-if="<%-form%>.username.$dirty">
    <span ng-show="invalidUsername">User name must not contain spaces.</span>
    <span ng-show="<%-form%>.username.$error.required">User name is required.</span>
    <span ng-show="<%-form%>.username.$error.maxlength">The user name cannot be more than 50 characters.</span>
  </span>
</div>

<!-- S U R N A M E -->

<div class="control-group form-group col-xs-10"
  ng-class="{'has-error':<%-form%>.surname.$invalid &&
                      <%-form%>.surname.$dirty}">
  <label>* Surname (for correspondence)</label>  
  <!-- For this input field make it required, and have a max length of 50 -->
  <input type="text" class="form-control" placeholder="e.g. Bloggs" name="surname" ng-model="<%-form%>Form.surname" ng-maxlength="50" required>  
  <span class="help-block has-error" ng-if="<%-form%>.surname.$dirty">
    <span ng-show="<%-form%>.surname.$error.required">Surname is required.</span>
    <span ng-show="<%-form%>.surname.$error.maxlength">The surname cannot be more than 50 characters.</span>
  </span>
</div>

 <!-- F I R S T  N A M E -->

<div class="control-group form-group col-xs-10"
  ng-class="{'has-error':<%-form%>.firstName.$invalid &&
                      <%-form%>.firstName.$dirty}">
  <label>* First name (for correspondence)</label>  
  <!-- For this input field make it required, and have a max length of 50 -->
  <input type="text" class="form-control" placeholder="e.g. Fred" name="firstname" ng-model="<%-form%>Form.firstName" ng-maxlength="50" required>  
  <span class="help-block has-error" ng-if="<%-form%>.firstname.$dirty">
    <span ng-show="<%-form%>.firstname.$error.required">First name is required.</span>
    <span ng-show="<%-form%>.firstname.$error.maxlength">The first name cannot be more than 50 characters.</span>
  </span>
</div>


<!-- A D D R E S S -->

<div class="control-group form-group col-xs-10">
  <label>Address (for postal correspondence)</label>  
  <input type="text" class="form-control" placeholder="address line 1" name="address1" ng-model="<%-form%>Form.address1">  
  <br>
  <input type="text" class="form-control" placeholder="address line 2" name="address2" ng-model="<%-form%>Form.address2">  
  <br>
  <input type="text" class="form-control" placeholder="address line 3" name="address3" ng-model="<%-form%>Form.address3">  
  <br>
  <input type="text" class="form-control" placeholder="address line 4" name="address4" ng-model="<%-form%>Form.address4">  
</div>

<!-- P O S T   C O D E -->

<div class="control-group form-group col-xs-6">
  <label>Postcode</label>  
  <input type="text" class="form-control" placeholder="postcode" name="postcode" ng-model="<%-form%>Form.postcode">  
</div>


<!-- C O N T A C T   N U M B E R -->

<div class="control-group form-group col-xs-10">
  <label>Contact number</label>
  <input type="text" class="form-control" placeholder="e.g. your mobile number" name="phone" ng-model="<%-form%>Form.phone">   
</div>

<!-- R A N K -->

<div class="control-group form-group col-xs-10"
  ng-class="{'has-error':<%-form%>.rank.$invalid &&
                        <%-form%>.rank.$dirty}">
  <label>Rank (for <span class="hidden-xs">seating</span> reservation card)</label>
  <input type="text" class="form-control" placeholder="e.g. Master Mason or your Provincial and/or Grand rank" name="rank" ng-model="<%-form%>Form.rank" ng-maxlength="100" >
  <span class="help-block has-error" ng-if="<%-form%>.rank.$dirty">
    <span ng-show="<%-form%>.rank.$error.maxlength">Your rank cannot be more than 100 characters.</span>
  </span>
</div>

<!-- L O D G E -->

<div class="control-group form-group col-xs-10 col-md-6"
  ng-class="{'has-error':<%-form%>.lodge.$invalid &&
                        <%-form%>.lodge.$dirty}">
  <label><span ng-hide="<%-form%>Form.authProvider=='dummy'">* </span>Lodge name</label>
  <input type="text" class="form-control" placeholder="e.g. Hamtun" name="lodge" ng-model="<%-form%>Form.lodge" ng-maxlength="50" ng-required="<%-form%>Form.authProvider!='dummy'">
  <span class="help-block has-error" ng-if="<%-form%>.lodge.$dirty">
    <span ng-show="<%-form%>.lodge.$error.required">Lodge name is required.</span>
    <span ng-show="<%-form%>.lodge.$error.maxlength">The name cannot be more than 50 characters.</span>
  </span>
</div>

<!-- L O D G E  N U M B E R-->

<div class="control-group form-group col-xs-6 col-md-4"
  ng-class="{'has-error':<%-form%>.lodgeno.$invalid &&
                        <%-form%>.lodgeno.$dirty}">
  <label><span ng-hide="<%-form%>Form.authProvider=='dummy'">* </span>Lodge number</label>
  <input type="number" class="form-control" placeholder="e.g. 7083" name="lodgeno" ng-model="<%-form%>Form.lodgeNo" ng-maxlength="5" min="(<%-form%>Form.authProvider!='dummy')?1:0" ng-required="<%-form%>Form.authProvider!='dummy'">
  <span class="help-block has-error" ng-if="<%-form%>.lodgeno.$dirty">
    <span ng-show="<%-form%>.lodgeno.$error.required">Lodge number is required.</span>
    <span ng-show="<%-form%>.lodgeno.$error.maxlength">The lodge number cannot be more than 5 digits.</span>
  </span>
</div>

<!-- C E N T R E -->
<div class="control-group form-group col-xs-10" 
  ng-class="{'has-error':<%-form%>.centre.$invalid &&
                        <%-form%>.centre.$dirty}">
  <label>Centre</label>  
  <input type="text" class="form-control" placeholder="e.g. Woolston" name="centre" ng-model="<%-form%>Form.centre" ng-maxlength="50">
  <span class="help-block has-error" ng-if="<%-form%>.centre.$dirty">
    <span ng-show="<%-form%>.centre.$error.maxlength">The centre name cannot be more than 50 characters.</span>
  </span>
</div>

<!-- A R E A -->
<div class="control-group form-group col-xs-10" ng-hide="areas.length==0">
  <label>Area</label>  
  <select class="form-control" placeholder="e.g. South Central" name="area" ng-options="area for area in areas" ng-model="<%-form%>Form.area">
    <option value="">-- choose area --</option>
  </select>
</div>



<!-- D I E T A R Y -->

<div class="control-group form-group col-xs-10"
  ng-class="{'has-error':<%-form%>.dietary.$invalid &&
                        <%-form%>.dietary.$dirty}">
  <label>Dietary requirements</label>
  <input type="text" class="form-control" placeholder="e.g. Vegetarian" name="dietary" ng-model="<%-form%>Form.dietary" ng-maxlength="50" >
  <span class="help-block has-error" ng-if="<%-form%>.dietary.$dirty">
    <span ng-show="<%-form%>.dietary.$error.maxlength">Your dietary requirements cannot be more than 50 characters.</span>
  </span>
</div>

<!-- E M A I L -->

<div class="control-group form-group col-xs-10"
ng-class="{'has-error':<%-form%>.email.$invalid &&
                      <%-form%>.email.$dirty}">
                        
  <label><span ng-hide="<%-form%>Form.authProvider=='dummy'">* </span>Email address</label>
  <input type="email" class="form-control" placeholder="e.g fred.bloggs@somedomain.com" name="email" ng-model="<%-form%>Form.email" compare-to="<%-form%>Form.confirmemail" ng-required="<%-form%>Form.authProvider!='dummy'">
  <span class="help-block has-error" ng-if="<%-form%>.email.$dirty">
    <span ng-show="<%-form%>.email.$error.required">Email address is required.</span>
    <span ng-show="<%-form%>.email.$error.email">Not a valid email address.</span>
  </span>
</div>

 <!-- C O N F I R M  E M A I L -->

<div class="control-group form-group col-xs-10"
ng-class="{'has-error':<%-form%>.confirmemail.$invalid &&
                      <%-form%>.confirmemail.$dirty}">
  <label>Re-enter your email address</label>
  <input type="email" class="form-control" placeholder="one more time" name="confirmemail" ng-model="<%-form%>Form.confirmemail" ng-required="<%-form%>Form.authProvider!='dummy'" >
  <span class="help-block has-error" ng-if="<%-form%>.confirmemail.$dirty">
    <span ng-show="<%-form%>.email.$error.compareTo">Email address must match.</span>
    <span ng-show="<%-form%>.confirmemail.$error.required">Confirmation email address is required.</span>
    <span ng-show="<%-form%>.confirmemail.$error.email">Not a valid email address.</span>
  </span>
</div>

