<p>Dear <%=recipientName%>,</p>
<p>This is a courtesy email to confirm that your profile details have been changed as follows:</p>
 

<p>
	Lodge: <%=lodge%>
	<br>Lodge no: <%=lodgeNo%>
	<br>Rank: <%=rank%>
	<br>Dietary reqs: <%=dietary%>
	<br>Email address: <%=email%>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>