<!DOCTYPE html>
<p>Dear <%=recipientName%>,</p>
<p>This is a courtesy email to confirm that your profile details have been changed as follows:</p>
 

<p>
	Surname: <%=details.surname%>
	<br>First name: <%=details.firstName%>	
	<br>Full name: <%=details.name%>
	<br>Login user name: <%=details.username%>	
    <% if  (details.address1 
            || details.address2
            || details.address3
            || details.address4
            || details.postcode  
     ) {%>
    <br>
    <br><i>Address</i>       
    <br><%=details.address1%>
    <br><%=details.address2%>  
    <br><%=details.address3%>  
    <br><%=details.address4%>  
    <br><%=details.postcode%> 
    <br> 	
    <% } %>
	<br>Contact no: <%=details.phone%>	
	<br>Lodge: <%=details.lodge%>
	<br>Lodge no: <%=details.lodgeNo%>
    <br>Centre: <%=details.centre%>
	<br>Area: <%=details.area%>
    <% if  (details.isVO) {%>
    <br>VO lodge: <%=details.voLodge%>
    <br>VO lodge no: <%=details.voLodgeNo%>
    <br>VO lodge centre: <%=details.voCentre%>
    <br>VO lodge area: <%=details.voArea%>
    <% } %>
	<br>Salutation: <%=details.salutation%>
	<br>Rank: <%=details.rank%>
	<br>Dietary reqs: <%=details.dietary%>
	<br>Email address: <%=details.email%>
	<br>Admin: <%=details.isAdmin%> 
	<br>Organiser: <%=details.isOrganiser%> 

	

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>