<p>Dear <%=recipientName%>,</p>
<p>This is a courtesy email to confirm that your profile details have been changed as follows:</p>
 

<p>
	Surname: <%=details.surname%>
	<br>First name: <%=details.firstName%>	
	<br>Lodge: <%=details.lodge%>
	<br>Lodge no: <%=details.lodgeNo%>
	<br>Rank: <%=details.rank%>
	<br>Dietary reqs: <%=details.dietary%>
	<br>Email address: <%=details.email%>
	<br>Admin: <%=details.isAdmin%> 
	<br>Organiser: <%=details.isOrganiser%> 
	<br>VO: <%=details.isVO%> 
	

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>