<!DOCTYPE html>
<p><i>Do not reply to this email. The recipient is not a human!</i></p>

<p>Dear <%=event.organiser.salutation%> <%=event.organiser.name%>,</p>

<p>Apologies have been received for the following:</p>
 

<p>
	<br>Event: <%=event.name%>
	<br>On: <%=eventDate%> at <%=event.time%>
	<br>At: <%=event.venue%> 
	<br>From: <%=user.salutation%> <%=user.name%>	
	<br>Message: <%=apology.message%>
	 
	<br>
 

<p><i>Do not reply to this email. The recipient is not a human!</i></p>