<!DOCTYPE html>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>

<p>Dear <%=recipientName%>,</p>

<p>This is a courtesy email to confirm a payment of £<%=amountPaid%> has been successfully processed for booking <%=booking.ref%> - <%=event.name%></p>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>
