<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.events.title %> - Event Details</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-deckgrid.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/events.css">
    <link rel="stylesheet" href="/styles/forMobileIE.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-custom-width.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog.min.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: "<%= _csrf %>",
      user: <%- JSON.stringify(res.locals.user) %>,
      event: <%- JSON.stringify(event) %>,
      mode: "<%= mode.toLowerCase() %>"
    };
    
    </script>
    
  </head>

  <body ng-app="EventsModule" data-ng-controller="EventDetailsController" ng-cloak>
    
                     
    <div class="container-fluid">
       
      <% include partials/private/navbar.ejs %>     

      <!-- EVENT FORM --> 
      <form ng-submit="submitEventForm()" id="profile-form" name="eventdetails" 
          ng-class="{'form-signin':'<%- req.device.type %>'=='desktop'}">
        <h3 class="form-signin-heading">Event - <%=mode%></h3>
        <h5>Items marked with * are mandatory</h5>
        
        <div class="row" disable-contents="mode=='delete'">  <!-- disable-contents is a custom directive I have added to EventsModule -->
  
          <!-- O P E N ? -->
  
          <div class="control-group form-group col-md-5"
            ng-class="{'has-error':eventdetails.open.$invalid &&
                                  eventdetails.open.$dirty}">
             <label>
              <input type="checkbox" class="bigcheckbox" name="open" ng-model="eventForm.open"></input>
              &nbsp;&nbsp;&nbsp;Open for bookings?
             </label>
           </div>
           
          <!-- V O  O N L Y ? -->
          <!--
          <div class="control-group form-group col-md-5"
            ng-class="{'has-error':eventdetails.voonly.$invalid &&
                                  eventdetails.voonly.$dirty}">
             <label>
              <input type="checkbox" class="bigcheckbox" name="voonly" ng-model="eventForm.voOnly"></input>
              &nbsp;&nbsp;&nbsp;VOs only?
             </label>
          </div>
          -->
  
          <!-- N A M E -->
  
          <!-- checking whether the form "profile" with the "name" property is both $invalid AND $dirty.  If it is
          insert the "has-error" class on the input field (i.e. insert a red border around the input field)
          -->
          <div class="control-group form-group col-md-10"
            ng-class="{'has-error':eventdetails.name.$invalid &&
                                eventdetails.name.$dirty}">
            <label>* Full name</label>  
            <!-- For this input field make it required, and have a max length of 50 -->
            <input type="text" class="form-control" placeholder="e.g. Provincial AGM" name="name" ng-model="eventForm.name" ng-maxlength="50" required>  
            <!-- Also, if eventdetails.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
            and/or maxlength) -->
            <span class="help-block has-error" ng-if="eventdetails.name.$dirty">
              <span ng-show="eventdetails.name.$error.required">Name is required.</span>
              <span ng-show="eventdetails.name.$error.maxlength">The name cannot be more than 50 characters.</span>
            </span>
          </div>
          
           
          
          <!-- O R G A N I S E R -->
          <div class="control-group form-group col-md-7"
            ng-class="{'has-error':eventdetails.organiser.$invalid &&
                                  eventdetails.organiser.$dirty}">
            <label>* Organiser</label>
            <select type="text" class="form-control" placeholder="event organiser" name="organiser" ng-options="a.id as a.name for a in organisers" ng-model="eventForm.organiser"   required></select>
            <span class="help-block has-error" ng-if="eventdetails.organiser.$dirty">
              <span ng-show="eventdetails.organiser.$error.required">Organiser is required.</span> 
            </span>
          </div>
         
  
          <!-- C O D E -->
  
          <div class="control-group form-group col-md-7"
            ng-class="{'has-error':eventdetails.code.$invalid &&
                                  eventdetails.code.$dirty}">
            <label>* Code (for payment)</label>
            <input type="text" class="form-control" placeholder="e.g. AGM16" name="code" ng-model="eventForm.code" ng-maxlength="8" required>
            <span class="help-block has-error" ng-if="eventdetails.code.$dirty">
              <span ng-show="eventdetails.code.$error.required">Event code is required.</span>
              <span ng-show="eventdetails.code.$error.maxlength">The event code cannot be more than 8 characters.</span>
            </span>
          </div>          
         
              
          <!-- V E N U E -->
  
          <div class="control-group form-group col-md-10"
            ng-class="{'has-error':eventdetails.rank.$invalid &&
                                  eventdetails.rank.$dirty}">
            <label>* Venue</label>
            <textarea type="text" class="form-control" placeholder="full address details" name="venue" ng-model="eventForm.venue" required rows="3"></textarea>
            <span class="help-block has-error" ng-if="eventdetails.venue.$dirty">
              <span ng-show="eventdetails.venue.$error.required">Venue is required.</span>
            </span>
          </div>
          
          <!-- D A T E -->
  
          <div class="control-group form-group col-md-8"
            ng-class="{'has-error':eventdetails.date.$invalid &&
                                  eventdetails.date.$dirty}">
             <label>* Date</label>
            <p class="input-group">             
              <input type="date" class="form-control" datepicker-popup datepicker-options="dateOptions" is-open="dateOpened"  placeholder="date of event" name="date" 
                ng-model="eventForm.date" required></input>
              <span class="input-group-btn hidden-xs hidden-sm">  
                <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>              
            </p>           
            <span class="help-block has-error" ng-if="eventdetails.date.$dirty">
              <span ng-show="eventdetails.date.$error.required">Date is required.</span>
            </span>
           </div>
           
           <!-- T I M E -->
  
          <div class="control-group form-group col-md-4"
            ng-class="{'has-error':eventdetails.time.$invalid &&
                                  eventdetails.time.$dirty}">
              <label>* Time</label>       
              <input type="time" class="form-control" placeholder="e.g. 18:00:00" name="time" ng-model="eventForm.time" required></input>
              <span class="help-block has-error" ng-if="eventdetails.time.$dirty">
                <span ng-show="eventdetails.time.$error.required">Time is required.</span>
              </span>
           </div>
           
                     
           <!-- P R I C E -->
  
          <div class="control-group form-group col-md-8"
            ng-class="{'has-error':eventdetails.price.$invalid &&
                                  eventdetails.price.$dirty}">
              <label>* Price</label>       
              <input type="number" class="form-control" placeholder="e.g. 20.00" name="price" ng-model="eventForm.price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required></input>
              <span class="help-block has-error" ng-if="eventdetails.price.$dirty">
                <span ng-show="eventdetails.price.$error.required">Price is required.</span>
              </span>
           </div>  
           
           <!-- M I N I M U M   B O O K I N G   P L A C E S -->
  
          <div class="control-group form-group col-md-8"
            ng-class="{'has-error':eventdetails.minbookingplaces.$invalid &&
                                  eventdetails.minbookingplaces.$dirty}">
              <label>* Minimum number of places per booking</label>       
              <input type="number" class="form-control" placeholder="e.g. 1" name="minbookingplaces" ng-model="eventForm.minBookingPlaces" min="1" required></input>
              <span class="help-block has-error" ng-if="eventdetails.minBookingPlaces.$dirty">
                <span ng-show="eventdetails.minbookingplaces.$error.required">Minimum number of booking places is required.</span>
                <span ng-show="eventdetails.minbookingplaces.$error.min">Minimum number of booking places must be greater than 0.</span>
              </span>
           </div>
                      
           <!-- M A X I M U M   B O O K I N G   P L A C E S -->
  
          <div class="control-group form-group col-md-8"
            ng-class="{'has-error':eventdetails.maxbookingplaces.$invalid &&
                                  eventdetails.maxbookingplaces.$dirty}">
              <label>* Maximum number of places per booking</label>       
              <input type="number" class="form-control" placeholder="e.g. 10" name="maxbookingplaces" ng-model="eventForm.maxBookingPlaces" min="1" required></input>
              <span class="help-block has-error" ng-if="eventdetails.maxBookingPlaces.$dirty">
                <span ng-show="eventdetails.maxbookingplaces.$error.required">Maximum number of booking places is required.</span>
                <span ng-show="eventdetails.maxbookingplaces.$error.min">Maximum number of booking places must be greater than 0.</span>
              </span>
           </div>
           
           <!-- C A P A C I T Y -->
          </br>
          <div class="control-group form-group col-md-3"
            ng-class="{'has-error':eventdetails.capacity.$invalid &&
                                  eventdetails.capacity.$dirty}">
              <label>* Capacity</label>       
              <input type="number" class="form-control" placeholder="e.g. 300" name="capacity" ng-model="eventForm.capacity" required></input>
              <span class="help-block has-error" ng-if="eventdetails.capacity.$dirty">
                <span ng-show="eventdetails.capacity.$error.required">Capacity is required.</span>
              </span>
           </div>
                      
           <!-- B L U R B -->
  
          <div class="control-group form-group col-md-10"
            ng-class="{'has-error':eventdetails.blurb.$invalid &&
                                  eventdetails.blurb.$dirty}">
            <label>Blurb</label>
            <textarea type="text" class="form-control" placeholder="describe the event" name="blurb" ng-model="eventForm.blurb" rows="10"></textarea>
          
          </div>
  
           <!-- M E N U -->
  
          <div class="control-group form-group col-md-10"
            ng-class="{'has-error':eventdetails.menu.$invalid &&
                                  eventdetails.menu.$dirty}">
            <label>Menu</label>
            <textarea type="text" class="form-control" placeholder="menu details if known" name="menu" ng-model="eventForm.menu" rows="4"></textarea>
          
          </div>
          
           <!-- D R E S S  C O D E -->
  
          <div class="control-group form-group col-md-10"
            ng-class="{'has-error':eventdetails.dressCode.$invalid &&
                                  eventdetails.dressCode.$dirty}">
            <label>Dress code</label>
            <textarea type="text" class="form-control" placeholder="dress code if known" name="dresscode" ng-model="eventForm.dressCode" rows="3"></textarea>
          
          </div>
      
  
          <!-- C L O S I N G  D A T E -->
  
          <div class="control-group form-group col-md-5"
            ng-class="{'has-error':eventdetails.closingDate.$invalid &&
                                  eventdetails.date.$dirty}">
             <label>* Closing date for bookings</label>
            <p class="input-group">             
              <input type="date" class="form-control" datepicker-popup datepicker-options="dateOptions" is-open="closingDateOpened"  placeholder="closing date for bookings" name="closingdate" 
                ng-model="eventForm.closingDate" required></input>
              <span class="input-group-btn hidden-xs hidden-sm">
                <button type="button" class="btn btn-default" ng-click="openClosingDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>              
            </p>
            <span class="help-block has-error" ng-if="eventdetails.closingdate.$dirty">
              <span ng-show="eventdetails.closingdate.$error.required">Closing date is required.</span>
            </span>
           </div>
           
           <!-- P A Y M E N T   D E T A I L S -->
  
            <div class="control-group form-group col-md-10"
              ng-class="{'has-error':eventdetails.paymentDetails.$invalid &&
                                    eventdetails.paymentDetails.$dirty}">
              <label>Payment details</label>
              <textarea type="text" class="form-control" placeholder="e.g. Bank details for BACS payments" name="paymentdetails" ng-model="eventForm.paymentDetails" rows="4"></textarea>
            
            </div>
           
            <!-- I N S T A N T  P A Y M E N T  ? -->
  
            <div style="display:none" class="control-group form-group col-md-7"
              ng-class="{'has-error':eventdetails.instantPayment.$invalid &&
                                    eventdetails.instantPayment.$dirty}">
               <label>
                <input type="checkbox" class="bigcheckbox" name="instantpayment" ng-model="eventForm.instantPayment" ></input>
                &nbsp;&nbsp;&nbsp;Instant payment required?
               </label>
             </div>
             
             <!-- G R A C E   P E R I O D -->
  
            <div class="control-group form-group col-md-7">
                <label>Grace period for payment (days)</label>       
                <input type="number" class="form-control" placeholder="e.g. 14" name="grace" ng-model="eventForm.grace"></input>
             </div>
         
        </div>
  
        <br/>
  
        <!-- Disable button until something has been edited and the form has no errors --> 
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="(mode!='delete' && (eventdetails.$invalid || !detailsComplete())) || eventForm.loading">
          <span ng-show="!eventForm.loading && mode!='delete'">Save Details</span>
          <span ng-show="!eventForm.loading && mode=='delete'">Delete</span>
          <span class="fa-pulse fa fa-spinner" ng-show="eventForm.loading" ></span>
          <span ng-show="eventForm.loading && mode!='delete'">Saving event details...</span>
          <span ng-show="eventForm.loading && mode=='delete'">Deleting event...</span>
        </button>
  
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
     
     </div>  

    <% include partials/public/footer.ejs %>   
      
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-deckgrid.js"></script>
    <script src="/js/dependencies/angular-initial-value.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/forMobileIE.js"></script>
    <script src="/js/dependencies/ngDialog.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="/js/EventsModule.js"></script>
    <script src="/js/private/ApologiesController.js"></script>
    <script src="/js/private/ApologyController.js"></script>
    <script src="/js/private/BookController.js"></script>
    <script src="/js/private/BookingsController.js"></script>
    <script src="/js/private/DashboardController.js"></script>
    <script src="/js/private/EventDetailsController.js"></script>
    <script src="/js/private/EventsController.js"></script>
    <script src="/js/private/ProfileController.js"></script>
    <script src="/js/private/UserBookingsController.js"></script>
    <script src="/js/private/UserDetailsController.js"></script>
    <script src="/js/private/UsersController.js"></script>
    <script src="/js/public/HomepageController.js"></script>
    <script src="/js/public/ResetController.js"></script>
    <script src="/js/public/SignupController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
