<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.events.title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- HOMEPAGE -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-deckgrid.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/events.css">
    <link rel="stylesheet" href="/styles/forMobileIE.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-custom-width.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog.min.css">
    <!--STYLES END-->

    <link rel="stylesheet" href="/<%=sails.config.events.skin%>">

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = { 
      _csrf: "<%= _csrf %>", 
      developer: "<%- res.locals.developer %>",
    };
    </script>

  </head>

  <body ng-app="EventsModule" ng-cloak>
  
    <div class="container-fluid">          
        <% include partials/public/navbar.ejs %>     
    </div>  

    <div class=" col-md-8 col-md-offset-2" data-ng-controller="HomepageController">
      <div class="jumbotron">
        <h1><%= sails.config.events.heading %></h1>
        <h2 class="hidden-xs">Masonic event management</h2>
        <div class="omb_login">
          <h4 class="omb_authTitle"><a href="/register">Create an account</a></h4>

      		<div ng-show="<%-sails.config.events.socialMedia%>">
            <div class="row omb_row-sm-offset-3 omb_loginOr">
              <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanSocial">or login via Social Media</span>
              </div>
            </div>  
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
                <% if (Object.keys(providers).length) {%>                         
                  <% Object.keys(providers).forEach(function (key) { %>
                    <div class="col-xs-4 col-sm-2">
                      <a href="/auth/<%= providers[key].slug %>" class="btn btn-lg btn-block <%= providers[key].klass %>">
                      <i class="fa <%= providers[key].icon %> visible-xs visible-sm"></i>  
                      <span class="hidden-xs hidden-sm"><%= providers[key].name %></span>
                      </a>
                    </div>
                  <% }) %>
                <% } %>          	    
            </div>
            <div class="row omb_row-sm-offset-3 omb_loginOr">
              <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanManual">or login manually</span>
              </div>
            </div>  
          </div>  
      
          <div ng-hide="<%-sails.config.events.socialMedia%>">
            <div class="row omb_row-sm-offset-3 omb_loginOr">
              <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanManual">or login</span>
              </div>
            </div>  
          </div>  
          
      		<div class="row omb_row-sm-offset-3">
      			<div class="col-xs-12 col-sm-6">	
                <!--
      			    <form class="omb_loginForm" ng-submit="submitLoginForm()" autocomplete="off" name="login">
                -->
                <form class="omb_loginForm" action="/auth/local" autocomplete="off" name="login" method="POST"> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="identifier" placeholder="user name or email address" ng-model="loginForm.identifier" />
                    </div>
                    <span class="help-block"></span>
                                        
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="Password" ng-model="loginForm.password"/>
                    </div> 
                                    
                    <div class="help-block">
                    <% if (errors) {%>
                        <!-- Flash errors -->
                        <% errors.forEach(function (error) { %>
                        <%= __(error) %>
                        <% }) %>  
                    <% } %>                  
                    </div>
                
          			<button class="btn btn-primary btn-lg btn-block" type="submit">
                    <span ng-show="!loginForm.loading">Login</span>
                    <span class="fa-pulse fa fa-spinner" ng-show="loginForm.loading" ></span>
                    <span ng-show="loginForm.loading">Logging in...</span>
                  </button>
          			 
                 <!-- Remember me and forgot password -->
            		<div class="row omb_row-sm-offset-3">
            			<div class="col-xs-12 col-sm-3" >
            				<label class="checkbox">
            					<input class="bigcheckbox" ng-model="loginForm.rememberme" name="rememberme" type="checkbox">&nbsp;&nbsp;&nbsp;Remember Me
            				</label>
            			</div>
            			<div class="col-xs-12 col-sm-5">
            				<p class="omb_forgotPwd">
            					<a href="/reset">Forgot password?</a>
            				</p>
            			</div>                  
            		</div>	
                <!-- Quick start guide -->
                <div class="row omb_row-sm-offset-3">
            			 <div class="col-xs-12 col-sm-5" ng-show="developer">
                    <p class="omb_guide">
            					<a href="<%-sails.config.events.quickStart%>" target="_blank">Quick start guide</a>
            				</p>                    
                  </div> 
            		</div>	  
                <!-- Stuck! -->
                <div class="row omb_row-sm-offset-3">
            			 <div class="col-xs-12 col-sm-5" ng-show="developer">
                    <p class="omb_stuck">
            					<a href="mailto:<%- res.locals.help || res.locals.developer %>?Subject=I am stuck! Please help me" target="_top">I'm stuck!</a>
            				</p>                    
                  </div> 
            		</div>	 
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />   
              </form>              
      			</div>            
          </div>
          	
      	</div>
        
      </div>
    </div>


    <% include partials/public/footer.ejs %>     


    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-deckgrid.js"></script>
    <script src="/js/dependencies/angular-initial-value.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/forMobileIE.js"></script>
    <script src="/js/dependencies/ngDialog.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="/js/EventsModule.js"></script>
    <script src="/js/private/ApologiesController.js"></script>
    <script src="/js/private/ApologyController.js"></script>
    <script src="/js/private/BookController.js"></script>
    <script src="/js/private/BookingsController.js"></script>
    <script src="/js/private/DashboardController.js"></script>
    <script src="/js/private/EventDetailsController.js"></script>
    <script src="/js/private/EventsController.js"></script>
    <script src="/js/private/ProfileController.js"></script>
    <script src="/js/private/UserBookingsController.js"></script>
    <script src="/js/private/UserDetailsController.js"></script>
    <script src="/js/private/UsersController.js"></script>
    <script src="/js/public/HomepageController.js"></script>
    <script src="/js/public/ResetController.js"></script>
    <script src="/js/public/SignupController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
