<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.events.title %> - Edit profile</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-deckgrid.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/events.css">
    <link rel="stylesheet" href="/styles/forMobileIE.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-custom-width.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog.min.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: "<%= _csrf %>",
      user: <%- JSON.stringify(res.locals.user) %>,
      salutations: <%- JSON.stringify(res.locals.salutations) %>,
    };
    
    </script>
    
  </head>

  <body ng-app="EventsModule" data-ng-controller="ProfileController" ng-cloak>
    
                     
    <div class="container-fluid">
       
      <% include partials/private/navbar.ejs %>     

      <!-- PROFILE FORM --> 
      <form ng-submit="submitProfileForm()" id="profile-form" name="profile" 
          ng-class="{'form-signin':'<%- req.device.type %>'=='desktop'}">
        <h3 class="form-signin-heading">Edit profile</h3>
        <h5>Items marked with * are mandatory</h5>
        <div class="row">
          
                    
          <!-- V O ? -->
          <!--
          <div class="control-group form-group col-md-5"
            ng-class="{'has-error':profile.isvo.$invalid &&
                                  profile.isvo.$dirty}">
             <label>
              <input type="checkbox" class="bigcheckbox" name="isvo" ng-model="profileForm.isVO"></input>
              &nbsp;&nbsp;&nbsp;Visiting Officer?
             </label>
           </div>
          --> 
           
          <% include partials/userDetails.ejs %>      
  
            
          <!-- P A S S W O R D -->
  
          <div class="control-group form-group col-xs-7"
          ng-class="{'has-error':profile.password.$invalid &&
                                profile.password.$dirty}" ng-hide="user.authProvider!='local'">
            <label>* Choose a password</label>
            <!-- Added the compareTo directive that compares the passwords -->
            <input type="password" class="form-control" placeholder="at least 8 characters" name="password" ng-model="profileForm.password" id="password" ng-minlength="8" compare-to="profileForm.confirmPassword" >
            <span class="help-block has-error" ng-if="profile.password.$dirty">
              <span ng-show="profile.password.$error.required">Password is required.</span>
              <span ng-show="profile.password.$error.minlength">Password must be at least 8 characters.</span>
            </span>
          </div>
  
          <!-- C O N F I R M  P A S S W O R D -->
  
          <div class="control-group form-group col-xs-7"  ng-hide="user.authProvider!='local'">
            <label>Re-enter your password</label>
            <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="profileForm.confirmPassword" >
            <span class="help-block has-error" ng-if="profile.confirmation.$dirty">
              <span ng-show="profile.password.$error.compareTo">Password must match.</span>
              <span ng-show="profile.confirmation.$error.required">Confirmation password is required.</span>
            </span>
          </div>
        </div>
  
        <br/>
  
        <!-- Disable button until something has been edited and the form has no errors -->
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="!detailsComplete() || profileForm.loading">
          <span ng-show="!profileForm.loading">Save Details</span>
          <span class="fa-pulse fa fa-spinner" ng-show="profileForm.loading" ></span>
          <span ng-show="profileForm.loading">Saving your details...</span>
        </button>
  
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
     
     </div>  

    <% include partials/public/footer.ejs %>   
      
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-deckgrid.js"></script>
    <script src="/js/dependencies/angular-initial-value.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/forMobileIE.js"></script>
    <script src="/js/dependencies/ngDialog.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="/js/EventsModule.js"></script>
    <script src="/js/private/BookController.js"></script>
    <script src="/js/private/BookingsController.js"></script>
    <script src="/js/private/DashboardController.js"></script>
    <script src="/js/private/EventDetailsController.js"></script>
    <script src="/js/private/EventsController.js"></script>
    <script src="/js/private/ProfileController.js"></script>
    <script src="/js/private/UserBookingsController.js"></script>
    <script src="/js/private/UserDetailsController.js"></script>
    <script src="/js/private/UsersController.js"></script>
    <script src="/js/public/HomepageController.js"></script>
    <script src="/js/public/ResetController.js"></script>
    <script src="/js/public/SignupController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
