<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.events.title %> - Edit profile</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: "<%= _csrf %>",
      user: <%- JSON.stringify(res.locals.user) %>,
      salutations: <%- JSON.stringify(res.locals.salutations) %>,
      areas: <%- JSON.stringify(res.locals.areas) %>,
      spamDomains: <%- JSON.stringify(sails.config.events.spamDomains) %>,
      sender: "<%- sails.config.events.email %>",
      signup: <%- res.locals.signup %>,
    };
    
    </script>
    
  </head>

  <body ng-app="EventsModule" data-ng-controller="ProfileController" ng-cloak>
    
                     
    <div class="container-fluid">
       
      <% include partials/private/navbar.ejs %>     

      <!-- PROFILE FORM --> 
      <form ng-submit="submitProfileForm()" id="profile-form" name="profile" 
          ng-class="{'form-signin':'<%- req.device.type %>'=='desktop'}">
        <h3 class="form-signin-heading">Edit profile</h3>
        <h5>Items marked with * are mandatory</h5>

                
        <!-- A V A T A R -->
        <div class="control-group form-group" ng-show="<%-form%>Form.gravatarUrl">
            <img ng-show="<%-form%>Form.authProvider!='local'" ng-src="{{<%-form%>Form.gravatarUrl}}"></img>
            <a ng-show="<%-form%>Form.authProvider=='local'" target="_blank" href="https://en.gravatar.com/" title="Click to manage Gravatars">
               <img ng-src="{{<%-form%>Form.gravatarUrl}}"></img>
            </a>
        </div>   


        <div class="row">
          
          
           
          <% include partials/userDetails.ejs %>  

          <div ng-hide="signup">

            <!-- A D D R E S S -->

            <div class="control-group form-group col-xs-10">
              <label>Address (for postal correspondence)</label>  
              <input type="text" class="form-control" placeholder="address line 1" name="address1" ng-model="<%-form%>Form.address1">  
              <br>
              <input type="text" class="form-control" placeholder="address line 2" name="address2" ng-model="<%-form%>Form.address2">  
              <br>
              <input type="text" class="form-control" placeholder="address line 3" name="address3" ng-model="<%-form%>Form.address3">  
              <br>
              <input type="text" class="form-control" placeholder="address line 4" name="address4" ng-model="<%-form%>Form.address4">  
            </div>

            <!-- P O S T   C O D E -->

            <div class="control-group form-group col-xs-6">
              <label>Postcode</label>  
              <input type="text" class="form-control" placeholder="postcode" name="postcode" ng-model="<%-form%>Form.postcode">  
            </div>


            <!-- C O N T A C T   N U M B E R -->

            <div class="control-group form-group col-xs-10">
              <label>Contact number</label>
              <input type="text" class="form-control" placeholder="e.g. your mobile number" name="phone" ng-model="<%-form%>Form.phone">   
            </div>   

            <!-- V O ? -->
            <div class="control-group form-group col-xs-10"
              ng-class="{'has-error':userdetails.isvo.$invalid &&
                                    userdetails.isvo.$dirty}">
                <label>
                <input type="checkbox" class="bigcheckbox" name="isvo" ng-model="<%-form%>Form.isVO"></input>
                &nbsp;&nbsp;&nbsp;Visiting Officer?
                </label>
            </div>
                      
            
            <!-- V O  L O D G E -->
            <div class="control-group form-group col-xs-10"
              ng-class="{'has-error':<%-form%>.volodge.$invalid &&
                                    <%-form%>.volodge.$dirty}" ng-hide="!<%-form%>Form.isVO">
              <label>VO lodge (if applic.)</label>
              <input type="text" class="form-control" placeholder="name of lodge you are assigned to" name="volodge" ng-model="<%-form%>Form.voLodge" ng-maxlength="50" >
              <span class="help-block has-error" ng-if="<%-form%>.volodge.$dirty">
                <span ng-show="<%-form%>.volodge.$error.maxlength">VO lodge name cannot be more than 50 characters.</span>
              </span>
            </div>

            <!-- V O  L O D G E  N U M B E R-->
            <div class="control-group form-group col-xs-6 col-md-4"
              ng-class="{'has-error':<%-form%>.volodgeno.$invalid &&
                                    <%-form%>.volodgeno.$dirty}" ng-hide="!<%-form%>Form.isVO">
              <label>VO lodge number</label>
              <input type="number" class="form-control"  name="volodgeno" ng-model="<%-form%>Form.voLodgeNo" ng-maxlength="5" >
              <span class="help-block has-error" ng-if="<%-form%>.volodgeno.$dirty">
                <span ng-show="<%-form%>.volodgeno.$error.maxlength">The VO lodge number cannot be more than 5 characters.</span>
              </span>
            </div>


            <!-- V O  C E N T R E -->
            <div class="control-group form-group col-xs-10" 
              ng-class="{'has-error':<%-form%>.vocentre.$invalid &&
                                    <%-form%>.vocentre.$dirty}" ng-hide="!<%-form%>Form.isVO">
              <label>VO centre</label>  
              <input type="text" class="form-control" placeholder="e.g. Woolston" name="vocentre" ng-model="<%-form%>Form.voCentre" ng-maxlength="50">
              <span class="help-block has-error" ng-if="<%-form%>.vocentre.$dirty">
                <span ng-show="<%-form%>.vocentre.$error.maxlength">The centre name cannot be more than 50 characters.</span>
              </span>
            </div>

            <!-- V O  A R E A -->
            <div class="control-group form-group col-xs-10" ng-hide="areas.length==0 || !<%-form%>Form.isVO">
              <label>VO area</label>  
              <select class="form-control" placeholder="e.g. South Central" name="voarea" ng-options="area for area in areas" ng-model="<%-form%>Form.voArea">
                <option value="">-- choose area --</option>
              </select>
            </div> 
  
          </div>
            
          <!-- P A S S W O R D -->
  
          <div class="control-group form-group col-xs-7"
          ng-class="{'has-error':profile.password.$invalid &&
                                profile.password.$dirty}" ng-hide="user.authProvider!='local'">
            <label>* Choose a password</label>
            <!-- Added the compareTo directive that compares the passwords -->
            <input type="password" class="form-control" placeholder="at least 8 characters" name="password" ng-model="profileForm.password" id="password" ng-minlength="8" compare-to="profileForm.confirmPassword" >
            <span class="help-block has-error" ng-if="profile.password.$dirty">
              <span ng-show="profile.password.$error.required">Password is required.</span>
              <span ng-show="profile.password.$error.minlength">Password must be at least 8 characters.</span>
            </span>
          </div>
  
          <!-- C O N F I R M  P A S S W O R D -->
  
          <div class="control-group form-group col-xs-7"  ng-hide="user.authProvider!='local'">
            <label>Re-enter your password</label>
            <input type="password" class="form-control" placeholder="one more time" name="confirmation" ng-model="profileForm.confirmPassword" >
            <span class="help-block has-error" ng-if="profile.confirmation.$dirty">
              <span ng-show="profile.password.$error.compareTo">Password must match.</span>
              <span ng-show="profile.confirmation.$error.required">Confirmation password is required.</span>
            </span>
          </div>
        </div>
  
        <br/>
  
        <!-- Disable button until something has been edited and the form has no errors -->
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="!detailsComplete() || profileForm.loading">
          <span ng-show="!profileForm.loading">Save Details</span>
          <span class="fa-pulse fa fa-spinner" ng-show="profileForm.loading" ></span>
          <span ng-show="profileForm.loading">Saving your details...</span>
        </button>
  
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
     
     </div>  

    <% include partials/public/footer.ejs %>   
      
    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
