<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.events.title %> - Users</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: "<%= _csrf %>",
       user: <%- JSON.stringify(res.locals.user) %>,
       criteria: <%- JSON.stringify(res.locals.criteria) %>
    };
    
    </script>
    
  </head>

  <body ng-app="EventsModule" data-ng-controller="UsersController" ng-cloak>

    <!-- container = Fixed-width container container-fluid = full-width -->
    <div class="container-fluid">
      <% include partials/private/navbar.ejs %>  
       
      <!-- FILTER FORM --> 
      <form ng-submit="filterUsers()" id="filter-form" name="filterform" 
          ng-class="{'form-signin':'<%- req.device.type %>'=='desktop'}">
        <h3 class="form-signin-heading">User Maintenance</h3>
        
        <div class="row">
  
          <!-- F I L T E R -->
           
          <div class="control-group form-group col-xs-12">             
            <input type="text" class="form-control" placeholder="key text to filter users" name="filter" ng-model="filterForm.criteria.filter">  
          </div>                    
         
        </div>
         
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="!filterform.filter.$dirty || filterForm.loading || filterForm.paging">
          <span class="fa fa-filter"></span><span ng-show="!filterForm.loading"> Filter users</span>
          <span class="fa-pulse fa fa-spinner" ng-show="filterForm.loading" ></span>
          <span ng-show="filterForm.loading">Filtering...</span>
        </button>
        </br> 

        <!-- P A G I N A T I O N -->
        <!-- Only show this on desktops etc -->
        <div class="form-horizontal hidden-sm hidden-xs">
          
          <div class="form-group">
            <label for="page" class="col-md-1 control-label text-left">Page</label>
            <div class="col-md-3">
              <input type="number" class="form-control" id="page" placeholder="page" ng-change="filterUsers(true)" ng-model="filterForm.criteria.page" min="1">
            </div>
            <label for="limit" class="col-md-1 control-label text-left">Limit</label>
            <div class="col-md-3">
              <input type="number" class="form-control" id="limit" placeholder="limit"  title="Maximum number of items to show per page" ng-model="filterForm.criteria.limit" min="1">
            </div>
             
            <button class="btn btn-primary" type="button" ng-click="filterUsers(true)" ng-disabled="filterForm.paging || filterForm.loading">
              <span class="fa fa-arrow-right"></span><span ng-show="!filterForm.paging"> Go</span>
              <span class="fa-pulse fa fa-spinner" ng-show="filterForm.paging" ></span>
              <span ng-show="filterForm.paging">Paging...</span>
            </button>
          
          </div>
         
        </div>

        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form> 

      
      <div class="container">     
        <h4 class="hidden-md hidden-lg">Tap a user to edit</h4>  
        <h4 class="hidden-xs hidden-sm">Click a user to edit</h4>   
        <span class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-hide="!usersLoading"></span>
        <div deckgrid source="users" cardTemplate="/templates/users.html" class="deckgrid"></div>
      <div>
    
      <% include partials/public/footer.ejs %>   

    </div>
    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
