<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.events.title %> </title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->

    <link rel="stylesheet" href="/<%=sails.config.events.skin%>">

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      user: <%- JSON.stringify(res.locals.user) %>,
      selectedUser: <%- JSON.stringify(res.locals.selectedUser) %>,
    };
    </script>
  </head>
  <body ng-app="EventsModule" data-ng-controller="UserBookingsController" ng-cloak>

    <!-- container = Fixed-width container container-fluid = full-width -->
    <div class="container-fluid">
      <% include partials/private/navbar.ejs %>  
        
      <div>
          <h2>New booking for {{ selectedUser.name }}</h2>          
      </div>  
       
      <div class="container">     
        <h4 class="hidden-md hidden-lg">Tap an event to select</h4>  
        <h4 class="hidden-xs hidden-sm">Click an event to select</h4>  
        <span class="fa fa-spinner fa-pulse fa-3x fa-fw" ng-hide="!loading"></span>   
        <div deckgrid source="events" cardTemplate="/templates/dashboard.html" class="deckgrid"></div>
      </div>
    
      <% include partials/public/footer.ejs %>   

    </div>
    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>