<!DOCTYPE html>
<html>
  <head>
    <title><%= sails.config.events.title %> - User Details</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-deckgrid.css">
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/events.css">
    <link rel="stylesheet" href="/styles/forMobileIE.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog-theme-default.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog-theme-plain.css">
    <link rel="stylesheet" href="/styles/ng-dialog/myth/ngDialog.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-custom-width.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="/styles/ng-dialog/ngDialog.min.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: "<%= _csrf %>",
      user: <%- JSON.stringify(res.locals.user) %>,
      userDetails: <%- JSON.stringify(userDetails) %>,
      salutations: <%- JSON.stringify(res.locals.salutations) %>,
      areas: <%- JSON.stringify(res.locals.areas) %>,
      mode: "<%= mode.toLowerCase() %>"
    };
    
    </script>
    
  </head>

  <body ng-app="EventsModule" data-ng-controller="UserDetailsController" ng-cloak>
    
                     
    <div class="container-fluid">
       
      <% include partials/private/navbar.ejs %>     

      <!-- USER FORM --> 
      <form ng-submit="submitUserForm()" id="profile-form" name="userdetails" 
          ng-class="{'form-signin':'<%- req.device.type %>'=='desktop'}">
        <h3 class="form-signin-heading">User - <%=mode%></h3>

        <h5>Items marked with * are mandatory</h5>

                
        <!-- A V A T A R -->
        <div class="control-group form-group" ng-show="<%-form%>Form.gravatarUrl">
            <img ng-src="{{<%-form%>Form.gravatarUrl}}"></img>
        </div>   

        
        <div class="row" disable-contents="mode=='delete'">  <!-- disable-contents is a custom directive I have added to EventsModule -->
  
           <!-- A D M I N ? -->
  
          <div class="control-group form-group col-sm-5"
            ng-class="{'has-error':userdetails.isadmin.$invalid &&
                                  userdetails.isadmin.$dirty}">
             <label>
              <input type="checkbox" class="bigcheckbox" name="isadmin" ng-model="userdetailsForm.isAdmin"></input>
              &nbsp;&nbsp;&nbsp;System administrator?
             </label>
           </div>
           
           <!-- E V E N T   O R G A N I S E R ? -->
  
          <div class="control-group form-group col-sm-5"
            ng-class="{'has-error':userdetails.isorganiser.$invalid &&
                                  userdetails.isorganiser.$dirty}">
             <label>
              <input type="checkbox" class="bigcheckbox" name="isorganiser" ng-model="userdetailsForm.isOrganiser"></input>
              &nbsp;&nbsp;&nbsp;Event organiser?
             </label>
           </div>   

           <!-- E V E N T   D C  ? -->
  
          <div class="control-group form-group col-sm-5"
            ng-class="{'has-error':userdetails.isdc.$invalid &&
                                  userdetails.isdc.$dirty}">
             <label>
              <input type="checkbox" class="bigcheckbox" name="isdc" ng-model="userdetailsForm.isDC"></input>
              &nbsp;&nbsp;&nbsp;Event DC?
             </label>
           </div>   
  
           
          <!-- A U T H E N T I C A T I O N   P R O V I D E R -->
          <div class="control-group form-group col-xs-12" ng-hide="userdetailsForm.authProvider=='dummy'">
            <label>Auth provider</label>  
            <input type="text" class="form-control" name="authprovider" ng-model="userdetailsForm.authProvider" readonly />
          </div>
           
           <% include partials/userDetails.ejs %>   

           <!-- A D D R E S S -->

          <div class="control-group form-group col-xs-10">
            <label>Address (for postal correspondence)</label>  
            <input type="text" class="form-control" placeholder="address line 1" name="address1" ng-model="<%-form%>Form.address1">  
            <br>
            <input type="text" class="form-control" placeholder="address line 2" name="address2" ng-model="<%-form%>Form.address2">  
            <br>
            <input type="text" class="form-control" placeholder="address line 3" name="address3" ng-model="<%-form%>Form.address3">  
            <br>
            <input type="text" class="form-control" placeholder="address line 4" name="address4" ng-model="<%-form%>Form.address4">  
          </div>

          <!-- P O S T   C O D E -->

          <div class="control-group form-group col-xs-6">
            <label>Postcode</label>  
            <input type="text" class="form-control" placeholder="postcode" name="postcode" ng-model="<%-form%>Form.postcode">  
          </div>


          <!-- C O N T A C T   N U M B E R -->

          <div class="control-group form-group col-xs-10">
            <label>Contact number</label>
            <input type="text" class="form-control" placeholder="e.g. your mobile number" name="phone" ng-model="<%-form%>Form.phone">   
          </div>   

          <!-- V O ? -->
          <div class="control-group form-group col-xs-10"
            ng-class="{'has-error':userdetails.isvo.$invalid &&
                                  userdetails.isvo.$dirty}">
              <label>
              <input type="checkbox" class="bigcheckbox" name="isvo" ng-model="<%-form%>Form.isVO"></input>
              &nbsp;&nbsp;&nbsp;Visiting Officer?
              </label>
          </div>
                    
          
          <!-- V O  L O D G E -->
          <div class="control-group form-group col-xs-10"
            ng-class="{'has-error':<%-form%>.volodge.$invalid &&
                                  <%-form%>.volodge.$dirty}" ng-hide="!<%-form%>Form.isVO">
            <label>VO lodge (if applic.)</label>
            <input type="text" class="form-control" placeholder="name of lodge you are assigned to" name="volodge" ng-model="<%-form%>Form.voLodge" ng-maxlength="50" >
            <span class="help-block has-error" ng-if="<%-form%>.volodge.$dirty">
              <span ng-show="<%-form%>.volodge.$error.maxlength">VO lodge name cannot be more than 50 characters.</span>
            </span>
          </div>

          <!-- V O  L O D G E  N U M B E R-->
          <div class="control-group form-group col-xs-6 col-md-4"
            ng-class="{'has-error':<%-form%>.volodgeno.$invalid &&
                                  <%-form%>.volodgeno.$dirty}" ng-hide="!<%-form%>Form.isVO">
            <label>VO lodge number</label>
            <input type="number" class="form-control"  name="volodgeno" ng-model="<%-form%>Form.voLodgeNo" ng-maxlength="5" >
            <span class="help-block has-error" ng-if="<%-form%>.volodgeno.$dirty">
              <span ng-show="<%-form%>.volodgeno.$error.maxlength">The VO lodge number cannot be more than 5 characters.</span>
            </span>
          </div>


          <!-- V O  C E N T R E -->
          <div class="control-group form-group col-xs-10" 
            ng-class="{'has-error':<%-form%>.vocentre.$invalid &&
                                  <%-form%>.vocentre.$dirty}" ng-hide="!<%-form%>Form.isVO">
            <label>VO centre</label>  
            <input type="text" class="form-control" placeholder="e.g. Woolston" name="vocentre" ng-model="<%-form%>Form.voCentre" ng-maxlength="50">
            <span class="help-block has-error" ng-if="<%-form%>.vocentre.$dirty">
              <span ng-show="<%-form%>.vocentre.$error.maxlength">The centre name cannot be more than 50 characters.</span>
            </span>
          </div>

          <!-- V O  A R E A -->
          <div class="control-group form-group col-xs-10" ng-hide="areas.length==0 || !<%-form%>Form.isVO">
            <label>VO area</label>  
            <select class="form-control" placeholder="e.g. South Central" name="voarea" ng-options="area for area in areas" ng-model="<%-form%>Form.voArea">
              <option value="">-- choose area --</option>
            </select>
          </div>   
  
        </div>  
        <br/>
  
        <!-- Disable button until something has been edited and the form has no errors -->
        <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="(mode!='delete' && (!detailsComplete() || userdetails.$invalid)) || userdetailsForm.loading">
          <span ng-show="!userdetailsForm.loading && mode!='delete'">Save Details</span>
          <span ng-show="!userdetailsForm.loading && mode=='delete'">Delete</span>
          <span class="fa-pulse fa fa-spinner" ng-show="userdetailsForm.loading" ></span>
          <span ng-show="userdetailsForm.loading && mode!='delete'">Saving user details...</span>
          <span ng-show="userdetailsForm.loading && mode=='delete'">Deleting user...</span>
        </button>
  
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
     
     </div>  

    <% include partials/public/footer.ejs %>   
      
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-deckgrid.js"></script>
    <script src="/js/dependencies/angular-initial-value.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/forMobileIE.js"></script>
    <script src="/js/dependencies/ngDialog.min.js"></script>
    <script src="/js/dependencies/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="/js/EventsModule.js"></script>
    <script src="/js/private/ApologiesController.js"></script>
    <script src="/js/private/ApologyController.js"></script>
    <script src="/js/private/BookController.js"></script>
    <script src="/js/private/BookingsController.js"></script>
    <script src="/js/private/DashboardController.js"></script>
    <script src="/js/private/EventDetailsController.js"></script>
    <script src="/js/private/EventsController.js"></script>
    <script src="/js/private/ProfileController.js"></script>
    <script src="/js/private/UserBookingsController.js"></script>
    <script src="/js/private/UserDetailsController.js"></script>
    <script src="/js/private/UsersController.js"></script>
    <script src="/js/public/HomepageController.js"></script>
    <script src="/js/public/ResetController.js"></script>
    <script src="/js/public/SignupController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
