<!DOCTYPE html>
<p>Dear <%=recipientName%>,</p>
<p>Thank you for signing up for <%= sails.config.events.title %>.</p>
<p>You can now log in to <%=domain%> with your user name: <%=details.username%>
	</br>or your email address: <%=details.email%>
</p>
<p>Your other details are shown below, but can be changed by editing your profile when logged in to the system:<p>
<p>
	Surname: <%=details.surname%>
	<br>First name: <%=details.firstName%>	
	<br>Full name: <%=details.name%>
	<br>Lodge: <%=details.lodge%>
	<br>Lodge no: <%=details.lodgeNo%>
	<br>Area: <%=details.area%>
	<br>Salutation: <%=details.salutation%>
	<br>Rank: <%=details.rank%>
	<br>Dietary reqs: <%=details.dietary%>
	<br>Contact no: <%=details.phone%>	

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>