<!DOCTYPE html>
<p>Dear <%=recipientName%>,</p>
<p>Thank you for signing up for Event Management.</p>
<p>You can now log in to <%=domain%> with your user name: <%=details.username%>
	</br>or your email address: <%=details.email%>
</p>
<p>Your other details are shown below, but can be changed by editing your profile when logged in to the system:<p>
<p>
	Lodge: <%=details.lodge%>
	<br>Lodge no: <%=details.lodgeNo%>
	<br>Rank: <%=details.rank%>
	<br>Dietary reqs: <%=details.dietary%>
	<br>Email address: <%=details.email%>
	<br>Contact no: <%=details.phone%>	

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>