<!DOCTYPE html>
<p>Dear <%=recipientName%>,</p>

<p><%=resetInstructions%></p>
 
<p><i><%=newPassword%></i></p> 

<p>If you have been allocated a new temporary password, please log on here: <%=domain%> and edit your profile to change it as soon as possible.</p>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>