<p>THIS IS JUST A DEMO - YOU HAVE NOT REALLY BOOKED IN TO THIS EVENT</p>

<p>Dear <%=recipientName%>,</p>

<p>This is a courtesy email to confirm your booking:</p>
 

<p>
	Event: <%=eventName%>
	<br>On: <%=eventDate%> at <%=eventTime%>
	<br>At: <%=eventVenue%> 
	<br>Info: <%=eventBlurb%>
	<br>Menu: <%=eventMenu%> 
	<br>Dress code: <%=eventDressCode%> 
	<br><br>Your details: 
	<br>Lodge: <%=lodge%>
	<br>Lodge no: <%=lodgeNo%>
	<br>Rank: <%=rank%>
	<br>Dietary reqs: <%=dietary%>
	<br>Email address: <%=email%>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>