<!DOCTYPE html>

<p>Dear <%=recipientName%>,</p>

<p>This is a courtesy email to confirm your booking<%-updated%>:</p>
 

<p>
	Booking ref: <b><%=bookingRef%></b>
	<br>Event: <%=eventName%>
	<br>On: <%=eventDate%> at <%=eventTime%>
	<br>At: <%-eventVenue%> 
	<br>Organiser: <%=eventOrganiser%> (<%=organiserEmail%>) <%=organiserContactNo%>
    <br>Info: <%-eventBlurb%>
	<br>Additional info: <%-eventAdditionalInfo%>
    <br>Menu: <%-eventMenu%> 
	<br>Dress code: <%-eventDressCode%> 
	<br><br><b>Your details:</b> 
    <% if (addressReqd) {%>
	  <br><i>Address</i>       
	  	<br><%=address1%>
		<br><%=address2%>  
        <br><%=address3%>  
        <br><%=address4%>  
        <br><%=postcode%> 
        <br> 
    <% } %>
    <br>Contact no: <%=phone%> 
	<br>Lodge: <%=lodge%>
	<br>Lodge no: <%=lodgeNo%>
	<br>Area: <%=area%>
	<br>Salutation: <%=salutation%>
	<br>Rank: <%=rank%>
	<br>Dietary reqs: <%=dietary%>
	<br>Email address: <%=email%>
	<br>Additional info: <%-info%>
	<br>Places: <%=places%>
	<br>Payment deadline: <%=deadline%>	
	<br>Amount to pay: £<%=total%>
	<br>
	
	<% if (linkedBookings.length>0) {%>
	  <br><b>Additional places</b></br>	
      <% linkedBookings.forEach(function (linkedBooking,place) { %>
	  	<i>Additional attendee <%=place+1%></i>
		<br>&nbsp;&nbsp;Salutation: <%=linkedBooking.salutation%>  
        <br>&nbsp;&nbsp;Surname: <%=linkedBooking.surname%>
		<br>&nbsp;&nbsp;First name: <%=linkedBooking.firstName%>
		<br>&nbsp;&nbsp;Lodge: <%=linkedBooking.lodge%>
		<br>&nbsp;&nbsp;Lodge no: <%=linkedBooking.lodgeNo%>
		<br>&nbsp;&nbsp;Area: <%=linkedBooking.area%>
		<br>&nbsp;&nbsp;Rank: <%=linkedBooking.rank%>
		<br>&nbsp;&nbsp;Dietary reqs: <%=linkedBooking.dietary%>
      <% }) %>
    <% } %>
	
	
	<p> Payment details: <b><%-paymentDetails%></b>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>