<!DOCTYPE html>

<p>Dear <%=recipientName%>,</p>

<p>This is a courtesy email to confirm your booking<%-updated%>:</p>
 

<p>
	Booking ref: <b><%=bookingRef%></b>
	<br>Event: <%=eventName%>
	<br>On: <%=eventDate%> at <%=eventTime%>
	<br>At: <%=eventVenue%> 
	<br>Organiser: <%=eventOrganiser%> (<%=organiserEmail%>) <%=organiserContactNo%>	
	<br>Info: <%=eventBlurb%>
	<br>Menu: <%=eventMenu%> 
	<br>Dress code: <%=eventDressCode%> 
	<br><br><b>Your details:</b> 
	<br>Lodge: <%=lodge%>
	<br>Lodge no: <%=lodgeNo%>
	<br>Rank: <%=rank%>
	<br>Dietary reqs: <%=dietary%>
	<br>Email address: <%=email%>
	<br>Additional info: <%=info%>
	<br>Places: <%=places%>
	<br>Payment deadline: <%=deadline%>	
	<br>
	
	<% if (linkedBookings) {%>
	  <br><b>Additional places</b></br>	
      <% linkedBookings.forEach(function (linkedBooking,place) { %>
	  	<p><i>Additional attendee <%=place+1%></i></p>
        <br>Surname: <%=linkedBooking.surname%>
		<br>First name: <%=linkedBooking.firstName%>
		<br>Lodge: <%=linkedBooking.lodge%>
		<br>Lodge no: <%=linkedBooking.lodgeNo%>
		<br>Rank: <%=linkedBooking.rank%>
		<br>Dietary reqs: <%=linkedBooking.dietary%>
      <% }) %>
    <% } %>
	
	
	<p> Payment details: <b><%=paymentDetails%></b>

<p>Yours S&F,<br/><%=senderName%></p>

<p><i>Do not reply to this email. The recipient is not a human!</i></p>