<!DOCTYPE html>


<p>This dummy user has been converted to a real user via the sign-up process:</p>
 

<p>
	Surname: <%=convertedUser.surname%>
	<br>First name: <%=convertedUser.firstName%>	
	<br>Contact no: <%=convertedUser.phone%>	
	<br>Lodge: <%=convertedUser.lodge%>
	<br>Lodge no: <%=convertedUser.lodgeNo%>
	<br>Area: <%=convertedUser.area%>
	<br>Salutation: <%=convertedUser.salutation%>
	<br>Rank: <%=convertedUser.rank%>
	<br>Dietary reqs: <%=convertedUser.dietary%>
	<br>Email address: <%=convertedUser.email%>
	<br>Auth provider: <%=convertedUser.authProvider%> 

<p><i>Do not reply to this email. The recipient is not a human!</i></p>